streamlit==1.35.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.13
streamlit-webrtc==0.47.7
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
pillow==10.3.0
numpy==1.26.4
python-dateutil==2.9.0.post0
pandas==2.2.2
matplotlib==3.8.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
dlib @file:///dlib-19.24.99-cp312-cp312-win_amd64.whl
