
cmake==3.25.2


dlib

matplotlib==3.8.4

numpy==1.26.4
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.2

pandas==2.2.2
pillow==10.3.0
plotly==5.20.0

streamlit==1.35.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.13
streamlit-webrtc==0.47.7


XlsxWriter==3.2.0
cv2
PIL
NumPy 
dlib
os
streamlit 
sqlite3
time
json
pandas 
datetime 
calendar
sqlalchemy 
create_engine
matplotlib.pyplot 
base64
